name: Generate Readme (Scheduled)

on:
  schedule:
    - cron: "23 1 * * *"

permissions:
  contents: write

jobs:
  main:
    name: Generate Readme (Scheduled)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Clone Raycast Extensions
        run: |
          chmod +x ./clone_raycast_sparse.sh
          ./clone_raycast_sparse.sh --repo https://github.com/raycast/extensions.git

      - uses: denoland/setup-deno@v2
        with:
          deno-version: v2.6.0

      - name: Generate Readme
        run: deno task run

      - name: Commit changes
        id: auto-commit-action
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update Readme (On Schedule)
          commit_options: "--no-verify"
